<div class="landing_logout">
  <h1 class="new-landing-page-title">Mini Mental State Exam (MMSE)</h1>

  <div class="final_logout">
    <h2>Patient Results: <%=@patient.last_name %>, <%= @patient.first_name %></h2>

    <div class="final-score">
      <%= hidden_field_tag :final_score, @patient.patient_scores.map{|ps| { name: ps.created_at.strftime("%D"),y: ps.total}}.to_json %>
    </div>
    <br>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div class="panel panel-default">
      <div class="panel-heading">Score Key:
      </div>
      <div class="panel-body">
        <p>24-30 Normal Range</p>
        <p>18-23 Moderate Cognitive Impairment</p>
        <p>0-17 Marked Cognitive Impairment</p>
      </div>
    </div>


    <p>
      <a href="mailto:aag0311@gmail.com?cc=dianagarcia@gmail.com, dr.williams@mdn.com&subject=Mini&nbsp;Mental&nbsp; Test&nbsp;Results&Body=Hello Mrs. Garcia and family,%0A%0AThe following information is sentive and confidential.%0A%0AAs per your request, below is the results from today's MMSE (Mini Mental State Exam).%0A%0AYour total MMSE score was: 6. Please keep this e-amil as part of your personal record.%0A%0ARespectfully,%0A%0AEmily Johnson, MD%0A%0AFamily Health Clinic"
      ><font size="5">Email Results to Patient</font></a>
    </p>
    <br>

    <div class="landing-button">
      <%= link_to 'Back', new_patient_question_path(@patient.id), class: 'btn btn-success btn-lg' %>
    </div>



    <h3>Thank you for visiting</h3>
  </div>
</div>
