<h1>Mini Mental State Exam</h1>

<p>Patient Results</p>

<% @patient.patient_scores.each do |ps| %>
  <h1>Score: <%= ps.total%></h1>
<% end %>


<p>
  <a href='mailto:mariaviz2015@gmail.com?subject=Mini &nbsp;Mental&nbsp; Test&nbsp;Results'>Email Results to Patient</a>
</p>


<p>Thank you for visiting</p>
