/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

.title {
  padding-bottom: 3em;
}

 .fixed {
   /*position: fixed;*/
   top: 0;
   left: 0;
   right: 0;
   /*z-index: 1030;*/
}


.logged-in {
  background: url("keyboard_doc.jpg");
  image-resolution: 0.5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #907F9F;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.nav-active {
  color: #483D8B;;
  position: fixed;
  right: 20px;
  padding-top: 15px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

/*.font-24 {
   font-size: 23px !important;
}*/


.home-link {
  color: #F5DDDD;
  position: fixed;
  left: 20px;
  padding-top: 15px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.user-input {
  background-color: white;
  opacity: 0.8;
  text-align: center;
  border: 6px solid rgba(222, 255, 255, 0.3);
  border-radius: 20px;
  width: 1000px;
  margin: 300px auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.select-patient {
 display: flex;
 justify-content: center;
 }
