// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  position: relative;
}
.logo1{
  position: absolute;
  top: 0;
  padding-top: 10px;
  left: 10%;
  z-index: 10;
  img{
    width: 80px;
  }
}
.logo2{
  position: absolute;
  top: -50px;
  left: calc(10% + 80px);
  z-index: 10;
  img{
    width: 200px;
  }
}

.navbar{
  height: 100px

}

// questions/new
.landed-form{
  font-size: 18px;
  line-height: 180%;
}

.btn-primary.btn-lg-q{
  border-radius: 20px;
}


.table-striped{
    font-family: "Georgia", serif;
    font-size: 120%;
}


// patient show.html.erb
.newpt{
  font-size: 18px;
}
.newpt .field{
  display: grid;
  grid-template-columns: 250px auto;
  margin-bottom: 20px;
}


// log out page/landing page - landing html erb
.panel-heading{
  width: 400px;
  font-size: 30px;
}

.panel-default{
  width: 400px;
  font-size: 20px;
}

// practitioners landing html erb
.landing_logout {
  background: url("Comfort.jpg");
  image-resolution: 0.5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #51278e;
}

.final_logout {
  box-shadow: 5px 7px #888888;
  background-color: white;
  color: #4d098a;
  opacity: 0.82;
  border: 4px solid rgba(222, 255, 255, 0.3);
  border-radius: 20px;
  width: 1000px;
  margin: 100px auto;
  padding-top: 80px;
  padding-bottom: 100px;
}
